/* Home styles
/*------------------------------------------------- */


.intro-wrapper {
    height: 90vh;
}

.intro-container {
    padding: 30vh 0 0 10vw;
    margin-right: 10vw;
}

span.site-title {
    font-size: 200%;
    font-weight: 100;
}

.site-description {
    padding-left: 30vw;
}


/* Navigation
/*------------------------------------------------- */

.nav {
    flex-direction: row;
    width: auto;
}

.nav-container {
  height: 10vh;
}

.nav-container > .nav {
    justify-content: space-evenly;
    margin: 0 10vw;
    flex-direction: row;
    width: auto;
}

.nav-home.nav-current {
    display: none;
}

.form-container {
  height: 85vh;
  margin-bottom: 15vh;
}

/* Mobile
/*------------------------------------------------- */

@media only screen and (max-width: 800px) {
    div.intro-wrapper {
        height: 70vh;
    }

    .nav-container > ul.nav {
        flex-direction: row;
        width: auto;
    }

    span.site-title.mobile-block {
        display: block;
    }

    .site-description {
        display: block;
        padding-left: 0;
        margin-top: 5vh;
    }
}
