/* Mail Chimp sign up form styles
/*-----------------------------------------------*/

#mc_embed_signup {
  max-width: 800px;
  margin: auto;
}

#mc_embed_signup.home {
  padding-top: 15vh;
  margin-top: 5vh;
  padding-bottom: 10vh;
}

#sign-up-title {
  text-align: center;
  font-weight: 100;
}

#sign-up-title.home {
  font-size: 200%
}

.sign-up-blurb {
  text-align: center;
  opacity: 0.7;
}

.blurb-lg {
  font-size: 1.25em;
}

.asterisk {
    color: #f44336;
}

.mc-field-group {
    margin: 20px 40px;
}

#mc-embedded-subscribe {
    display: block;
    margin: auto;
}

@media only screen and (max-width: 800px) {
  .blurb-lg {
    display: none;
  }
}
