/* Thank you page after mailchimp sign up
/*-----------------------------------------------*/

.ty-container {
  height: 75vh;
}


.ty-text-container {
  padding-top: 30vh;
}

.ty {
  text-align: center;
}
